    #dis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 26%; /* Adjust margin instead of padding */
    margin-right: 10%; /* Adjust margin instead of padding */
    margin-top: 2%;
}

.dis1 {
    width: calc(25% - 20px); /* Each item takes up approximately one-third of the container width */
    background-color: #a8d8f9; /* Background color of each item */
    border-radius: 10px;
    margin-bottom: 20px; /* Adds space between rows */
    /* margin-left:2px; */
    text-align: center;
   
}

/* Rest of the CSS remains the same */
 

.company-heading {
    width: 100%; /* Same width as the parent */
    font-family: cursive;
    background-color: crimson; /* Background color for the company name */
    color: white; /* Text color */
     /* Padding for better spacing */
    border-top-left-radius: 10px; /* Rounded corners */
    border-top-right-radius: 10px; /* Rounded corners */
    margin-top: 0; /* Remove margin for better alignment */
    margin-bottom: 10px; /* Add margin for better spacing */
}

.dis1 img {
    width: 120px; /* Increased width for student image */
    height: 120px; /* Increased height for student image */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add space below the image */
}

.dis1 h3 {
    margin: 5px 0; /* Adjust margin for the student name */
}

.dis1 h4 {
    margin: 5px 0;
    font-size: 18px; /* Adjust the font size of the ctc */
}

.dis1 p {
    margin: 5px 0;
    font-size: 16px; /* Adjust the font size of the role */
}
.chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    /* margin-bottom: 20px; */
    margin-left: 30%;
    height: 90vh;
  }
  
  .chart {
    /* height: 30rem; */
    width: 120%; /* Increase the width to occupy more space */
    margin-right: 10%;
    max-width: 800px; /* Adjust the maximum width as needed */
  }
  
  canvas {
    width: 100%; /* Set the width of the canvas to 100% to fill the container */
    height: 1000px; /* Adjust the height of the canvas as needed */
  }
  
  

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-top: 2%;;
  }
  
  .search-container input {
    margin-right: 5%;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .search-container label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 0.2s;
    pointer-events: none;
  }
  
  .search-container input:focus + label,
  .search-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #000;
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  