#www{
  background-color: crimson;
  color: aliceblue;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  padding-top: 8px;
}
#nono{
   background-color: rgb(247, 201, 211);
   width: 400px;
   position: relative;
   margin-left: 450px;
   margin-top: 97px;
   
}
