#bcd1{
  background-color: crimson;
  color: aliceblue;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  padding-top: 8px;
}

#nob{
  font-size: 60px;
  font-stretch: expanded;
  color: rgb(112, 112, 112);
  font-weight: 600;
}
#sd{
  display: none;
  /* visibility: hidden; */
}
#delL{
  display: none;
}
@media  (max-width: 768px) {
  #StProfile{
    width: 100vw;
  }
  #sd{
    display: inline-block;
    margin-right: 10vw;
    margin-left: 5vw;
    /* padding-left: 10%vw; */
  }
  #bcd1{
    display: flex;
    width: 133%;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5%;

  }
  
  #img2{
    
   /* position: relative;
   left: 5%;
   top: -10%; */
   display: none;
    
  }
  #delL{
    display: inline-block;
  }
   #mySidebar{
    display: none;
   }
    
   #box1,#box4{
    position: relative;
    right: 55%;
    width: 100vw;
    height: 40vh;
   }
   #box3,#box6{
    width: 100vw;
    height: 40vh;
    position: relative;
    right: 8%;
   }
   #box2,#box5{
    width: 100vw;
    height: 40vh;
    position: relative;
    right: 8%;

   }
 


}