#tabu,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
   
}
#tabu{
    width: 70%;
    margin-left: 22%;
    margin-top: 2%;

}
.tt{
    background-color: crimson;
    color: white;
}
#tabu1{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 70%;
    margin-left: 22%;
    margin-top: 2%;
}