#gupta{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-left: 15%;
}
#hrd{
  
  width: 40%;
  margin-left: 10%;
  height: 80%;
  background-color: rgb(188, 180, 180);

}
#hrd h1{
  
  background-color: crimson;
  color: whitesmoke;
  text-align: center;
  position: relative;
  /* top: -15%; */
}
#hihi{
  background-color: crimson;
  color: whitesmoke;
  text-align: center;
  /* width:400px; */
  font-size: xx-large;
  font-weight: 600;
  
}
#hrd h3{
  text-align: center;
}
#opl{
  text-align: right;
  position: relative;
  bottom: 80%;
  left: 5%;
}
#op1 h2{
  margin-right: 10px;
}
#sj{
  position: relative;
  left: -31%;
}
#sj button{
  width: 50%;
  position: relative;
  left: 0%;
}
#mySidebarrr {
  
  width: 230px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 89, 123) ;
  color: white;
  position: absolute; 
  /* /* left: -px; */
  border: 1.5px solid wheat;
  top:68px;
  font-size: 22px;
  font-weight: 550;
  text-align: center;
  
}