#bcd{
  background-color: crimson;
  color: aliceblue;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  padding-top: 8px;
  /* position: fixed; */
  /* top: 0px; */
}
#mmm{
   background-color: rgb(247, 201, 211);
   width: 400px;
   position: relative;
   margin-left: 450px;
   margin-top: 97px;
  /* height: 590px; */
}
#foot
{
  display: none;
}
@media  (max-width: 768px) {
  
 #bcd{
  background-color: crimson;
  width: 100vw;
  height: 6vh;
  padding-top: 12px;
  font-size: 1.3rem;
  /* font-weight: ; */
 }
 #hxx{
  padding-top: 2vh;
 }
 #mmm{
  background-color: rgb(231, 141, 160);
  height: 50vh;
  width: 90vw;
  position: relative;
   left: -428px; 
  /* right: px; */
  border-radius: 20%;
 }
 #mmm1{
  position: relative;
  
  
 }
 #mmm1 label{
  display: none;
 }
  #mmm1 input{
    width: 70vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 1.1rem;
     margin-bottom: 40px;
  }
  #boss{
    border-radius: 2rem;
    width: 30vw;
    height: 5vh;
    position: relative;
    top: -3vh;
    
  }
  #foot{
    position: absolute;
    bottom: 0vh;
    height: 5vh;
    display: flex;
    width: 100vw;
    background-color: rgb(22, 21, 21);
    color: aliceblue;
    justify-content: center;
    padding-top: 1.5vh;
  }

 
}
